<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amey.scheduler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditNoteActivity"></activity>
        <activity
            android:name=".keepnotes"
            android:label="@string/title_activity_keepnotes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".dayteacherdatabase" />
        <activity android:name=".daystudentdatabase" />
        <activity
            android:name=".teach_update"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".teach_del"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".teach_add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".stud_update"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".del_stud"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Add_Stud"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".teacher"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".loginstud"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".loginteach"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".adminrights"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".adminforteachers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".adminforstudents"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>